# training data (DO NOT TRACK)
ds/data/training_survey.csv
ds/data/training_survey_augmented.csv

# model outputs
model/models/*.pkl
__pycache__/
*.pyc
.env
.DS_Store
postgres_data/
.ipynb_checkpoints/
!model/models/.gitkeep

.save
*.save
data/.Rhistory

# Generated model artifacts
activityhub/ds/models/*.pkl
activityhub/ds/models/metrics.csv