# training data (DO NOT TRACK)
model/data/training_survey.csv
model/data/training_survey_augmented.csv

# model outputs
model/models/*.pkl__pycache__/
*.pyc
.env
*.pkl
.DS_Store
postgres_data/
.ipynb_checkpoints/
model/models/*.pkl
!model/models/.gitkeep
